.status-accepted {
    color: green;
}

.status-rejected {
    color: red;
}

.status-pending {
    color: orange;
}

.border-success {
    border: 2px solid green !important; 
}
.border-danger {
    border: 2px solid red !important;  
}
.border-warning {
    border: 2px solid orange !important; 
}