<officer-navbar></officer-navbar>
<div class="container mt-4">
    <h1 class="text-center">Officer Analytics Reports</h1>
    
    <!-- Dropdown for selecting report type -->
    <div class="menu mt-3">
      <label class="mr-2">Select Report Type:</label>
      <select [(ngModel)]="selectedReportType" (change)="onReportTypeChange()" class="form-select mr-3">
        <option value="products">Products Sold</option>
        <option value="customers">Customer Purchasing Power</option>
      </select>
    </div>

    <!-- New Merchant Selection Dropdown -->
    <div class="menu mt-3">
      <label for="merchantSelect" class="mr-2">Select a merchant to view analytics:</label>
      <select id="merchantSelect" [(ngModel)]="selectedMerchant" (change)="onMerchantChange()" class="form-select">
        <option value="all">All Merchants</option>
        <option *ngFor="let merchant of merchantsList" [value]="merchant._id">{{ merchant.firstName }} {{ merchant.lastName }}</option>
      </select>
    </div>

    <!-- Report display with Chart -->
    <div class="report mt-4 p-3 rounded">
      <h2 class="text-center">Analytics Report</h2>
      <p class="text-center">Filtered by: {{ selectedReportType }}</p>

      <!-- ngx-charts bar chart -->
      <ngx-charts-bar-vertical
        *ngIf="chartData.length"
        [view]="[700, 300]"
        [scheme]="'vivid'"
        [results]="chartData"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="selectedReportType === 'products' ? 'Product' : 'Customer'"
        [yAxisLabel]="selectedReportType === 'products' ? 'Sales' : 'Spending'">
      </ngx-charts-bar-vertical>
    </div>
</div>
