<merchant-navbar></merchant-navbar>

<div *ngIf="loading" class="loading-message">Loading products...</div>

<div *ngIf="!loading">
    <div class="container mt-4 mb-4" id="productsSection">
        <h1 class="text-center">Merchant Dashboard</h1>
        <div class="row">
            <div class="col-lg-3 mt-3" *ngFor="let productType of allProducts">
                <div class="productTypeBox">
                    <h1>{{productType.name}}</h1>
                <img [src]="getImageUrl(productType)" alt="Product Image" />
                    <p>{{productType.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2>Edit Product</h2>
        <div class="container mt-5">
            <div class="mb-3">
                <label for="productSelect" class="form-label">Select Product to Edit</label>
                <select class="form-control" id="productSelect" (change)="loadProductDetails($event)">
                    <option *ngFor="let productType of allProducts" [value]="productType._id">
                        {{ productType.name }}
                    </option>
                </select>
            </div>

            <div *ngIf="product">
                <form (submit)="onSubmit()" #myForm="ngForm">
        <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="productName" name="productName" [(ngModel)]="product.name">
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Description</label>
            <textarea class="form-control" id="productDescription" name="productDescription" rows="3" [(ngModel)]="product.description"></textarea>
        </div>
        <div class="mb-3">
            <label for="productName" class="form-label">Product Price</label>
            <input type="text" class="form-control" id="productPrice" name="productPrice" [(ngModel)]="product.price">
        </div>
        <div class="mb-3">
            <label for="productImage" class="form-label">Product Image</label>
            <input type="file" (change)="onImageChange($event)" id="productImage" name="productImage">
        </div>
        <div *ngIf="product.imageUrl" class="mt-3">
        <img *ngIf="imageDisplay" [src]="imageDisplay" alt="Selected Product Image" style="max-width: 200px;">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
