<merchant-navbar></merchant-navbar>
<div class="banner">
    <div class="content">
        <h1 class="mb-5">Discover Exquisite Destinations</h1>
        <a [routerLink]="[]" fragment="productsSection">START EXPLORING <i class="bi bi-arrow-right"></i></a>
    </div>
</div>

<!-- Steps to Manage Products -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">How to <span class="highlight">Book Your Tour</span></h1>
    <div class="row mt-5">
        <!-- Step 1 -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>Select Destination</p>
            </div>
        </div>
        <!-- Step 2 -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>Choose Dates & Preferences</p>
            </div>
        </div>
        <!-- Step 3 -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>Confirm & Begin Your Adventure</p>
            </div>
        </div>
    </div>
</div>

<!-- Product Types Showcase -->
<div class="container mt-4 mb-4" id="productsSection">
    <h1 class="text-center">Types of <span class="highlight">Tourism Products</span> We Offer</h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let productType of productTypes">
            <div class="productTypeBox">
                <h1>{{productType.name}}</h1>
                <img [src]="getImageUrl(productType)" alt="Product Image" />
                <p>{{productType.description}}</p>
                <p>Price: RM{{productType.price}}</p>
            </div>            
        </div>
    </div>
</div>
